@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

html,body{
   background-color: black;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding: 10px 0px 0px;
}
.homenav{
    width: 98%;
}
header nav{
    background: white;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 20px;
    align-items: center;
    filter: drop-shadow(0px 3px 4px rgb(59, 59, 59));
    border:1px solid rgb(180, 180, 180);
}
header nav img:nth-child(1){
    width: 30px;
    scale: 1.2;
    margin-left: 5px;
}
header nav h1{
    font-family: "Poppins", system-ui;
    color: black;
}
header ul nav{
    padding: 50px;
    height: 70px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-bottom: 50px;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid black;
}
header ul{
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 0%;
    position: absolute;
    top: 0;
    overflow: hidden;
    right: 0;
    transition: 0.2s;
}
header ul nav h1{
    color: white;
}
header ul nav img{
    filter: invert(1);
}
header ul li{
    margin: 10px 10px 10px 80px;
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-family: "Poppins", system-ui;
    font-weight: bold;
    font-size: 30px;
}
header ul li a:hover{
    text-decoration: underline;
    color: #FC4100;
}
.title{
    width: 100%;
    padding: 20px;
    background: url(/assets/svg/layered-peaks-haikei.svg);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0px 0px;
}
section{
    width: 100%;
    min-height: 400px;
    background-color:black;
    padding: 20px;
    overflow: hidden;   
}
.backpanel{
    width: 100%;
    /* filter: grayscale(1); */
    /* opacity: 0.5; */
}
section h3{
    text-align: center;
    margin: 30px 0px 60px;
    font-size: 50px;
    color:#FC4100;
}
section p{
    font-size: 30px;
    /* text-align: center; */
    margin: 0 50px;
}
section p span{
    margin: 80px 0px;
    font-size: 35px;
    font-weight: bold;
    color: #FC4100;
}
section ol { 
    display: block;
    font-weight: bold;
    gap: 10px;
}

section ol h4{
    font-size: 40px;
    margin: 100px 10px 10px;
    color: blueviolet;
    /* text-align: center; */
}

section ol li{
    font-weight: 400;
    margin: 0px 50px;
    font-size: 25px;
}
.lower{
    margin: 30px;
}
.quote{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px 0 100px;
}
.quote img{
    width: 100%;
}
footer{
    background-color: #191919;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flogo, .implink{
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.flogo img{
    filter: invert(1);
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.implink a{
    color: white;
    text-decoration: none;
}
.implink a img{
    width: 30px;
    height: 30px;
    filter: invert(1);
    margin-left: 10px;
}




@media screen and (max-width: 600px)
{
    nav ul li a{
        padding: 5px;
        font-size: 15px;
    }
    section h2 {
        font-size: 20px;
    }
    section ul h4{
        font-size: 17px;
    }
}

@media screen and (max-width:800px) {
    .menubar{
        width: 100%;
        right: 0;
        /* top: -100%; */
        opacity: 0%;
        visibility: hidden;
    }
    .menubtnbox:checked ~ .menubar{
        right: 0;
        top: 0;
        visibility: visible;
        opacity: 100%;
    }
    section h3{
        font-size: 35px;
    }
    section p{
        font-size: 20px;
    }
    section p span {
        font-size: 20px;
    }
    section ol h4 {
        font-size: 35px;
    }
    section ol li{
        font-size: 20px
    }
}

@media screen and (max-width:450px){
    nav h1{
        font-size: 20px;
    }
    section {
        padding: 10px;
    }
}
