*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
.footer{ 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 10px;
    padding-bottom: 60px;
    background: black;
    color: white;
}
.headcol{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 50px 20px;
}

.headcol img{
    width: 40px;
    height: auto;
    margin: 0px 15px;
}

.headcol p{
    font-size: 18px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
.headcol span{
    font-family: monospace;
    font-weight: 200;
    font-size: 18px;
    margin-left:20px;
}

.row2{
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
}
.links a{
    display: block;
}
.col{
    margin: 20px 20px;
    /* border: 2px solid red; */
    width: 50%;
    flex-basis: 0;
    flex-grow: 1;
}

.col h3{
    margin-bottom: 20px;
    font-size: 17px;
    font-family: 'Afacad', sans-serif;
    /* font-weight: bold; */
    color: #8928ff;
    /* border-bottom: 1px solid white; */
    
}
.col h3::after{
    content:" ";
    margin: 5px 0px;
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-color: blueviolet;
    display: block;
}

.links a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color:gray ;
    margin: 10px 0px;
    padding: 2px;
    font-family:'Afacad', sans-serif;
    transition: 0.3s;
    width: 120px;
}
.links a:hover{
    background-color: #35155d;
    color: white;
    padding-left: 10px;
    border-radius: 20px;

}

