*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;

}

body{
    background-color:black;
    overflow-x: hidden;
}
.navbar{
    width: 100%;
    align-items: center;
    display:flex;
    height: 70px;
    margin: auto;
    padding: 10px 20px;
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    background-color: blueviolet;
    justify-content: space-between;
    position: fixed;
    z-index: 50;
    backdrop-filter: blur(10px);
}
.checkbox{
    
    visibility: hidden;
    position: absolute;
}

.hamburgur{
    display: none;
    width: 40px;
    filter: invert(1);
    right: 20px;
    position: absolute;
}
.right-arrow{
    display: none;
    width: 30px;
    right: 25px;
}
  
.navbar .headerlogo{
    align-items: center;
    justify-content: center;
    display: flex;
}
/* .headerlogo span img{
    width: 40px;
    height: 40px;
} */
.navbar .headerlogo span{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
    cursor: default;
    display: flex;
    justify-content: center;
}

.nav{
    width: auto;
    justify-content: center;
    display: flex;
} 

ul{
    display: flex;    
}

li{
    list-style: none;  
}

.navbar .nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    padding: 2px 10px;
    margin: 2px 5px;
    border-radius: 20px;
    transition: 0.3s;
}
.navbar .nav ul li a:hover{
    background-color: white;
    color: blueviolet;
    
}


.main{
    /* background-color: red; */
    /* background-image: url(/assets/images/word-cloud.jpeg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 90px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.section {
    width: 100%;
    /* background-color: gray; */
    flex-basis: 0;
    flex-grow: 1;
    padding: 20px;
}
.s1{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.section p{
    margin-left: 50px;
    font-size: 25px;
    color: white;
    font-family: 'Afacad', sans-serif;
}
.section p span{
    color: blueviolet;
    /* background-color: white; */
    padding: 2px 8px;
    font-family: 'Afacad', sans-serif;
    font-weight: bolder
    
}
.section h1{
    font-size: 50px;
    color: blueviolet;
    margin: 10px 50px;
    font-family: 'Afacad', sans-serif;
    font-weight: bolder;
}
.s2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}
.s1 a{
    text-decoration: none;
    margin: 20px 90px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.s1 a button{
    display: flex;
    width: 180px;
    height: 50px;
    font-size: 25px;
    color: white;
    background-color: blueviolet;
    border: 4px solid blueviolet;
    border-radius: 50px;
    transition: 0.3s;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}

.s1 a button:hover{
    color: #512b81;
    /* font-weight: bold; */
    background-color: white;
    border: 4px solid white;
    filter: drop-shadow(0px 0px 20px #512b81);
}
.s1 a button img{
    filter: invert(1);
    width: 20px;
    margin-left: 8px;
}


.s2 img{
    width: 500px;
    height: auto;
    filter: hue-rotate(8deg);
}
.arrow {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.arrow img{
    filter: hue-rotate(8deg);
    width: 40px;
    height: auto;
    position: relative;
    top: -60px;

}

.explore{
    
    background-color: #512b81;
    width: 100%;
    height: auto;
    padding: 20px 10px;

}
 /* explore start */

.exploretitle{
    /* background-color: red; */
    height: 80px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.87);
    font-size: 50px;
    font-family: 'Afacad', sans-serif;
    font-weight: bold;
}

/* service item */



.servicesarea{
    width: 100%;
    height: auto;
    padding: 20px;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
}

.servicescard{
    min-width: 250px;
    min-height: 250px;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 2px solid blueviolet;
    border-radius: 20px;
    margin: 10px;
}

.carditem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.carditem a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carditem a img{
    width: 90px;
    height: auto;
    margin-bottom: 20px;
}

.carditem a h3{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

/* .carditem a{
    text-decoration: none;
    color: white;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blueviolet;
    border-radius: 20px;
    margin: 25px;
    transition: 0.3s;
}
.carditem a:hover{
    background-color: white;
    color: blueviolet;
    border-color: white;
} */

/* explore end */


/* Footer start */



/* Footer end */



/* mobile view  */

@media screen and (max-width: 700px)
{
    .main{
        padding-top: 100px;
        overflow: hidden;
        flex-direction: column-reverse;
        display: flex;
        flex-wrap: wrap;
    }
    .checkbox{
        position: absolute;
        opacity: 100;
        right: 27px;
        display: block;
        width: 25px;
        height: 25px;
        z-index: 10;
        top: 18px;
        opacity: 0;
        visibility: visible;
    }
    .hamburgur{
        display: block;
    }
    .right-arrow{
        display: none;
    }

    .navbar .headerlogo span {
        font-size: 20px;
    }

    .nav{
        width: 100%;
        height: 100vh;
        padding: 0px;
        background-color:#35155d;
        position: absolute;
        z-index: 2;
        top: 60px;
        right: -100%;
        overflow: hidden;
        backdrop-filter: blur(10px);
        transition: 0.3s;
    }
    ul{
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
    }

    .navbar .nav ul li a{
        margin: 0px;
        font-size: 20px;
    }
    .navbar{
        width: 100%;
        align-items: center;
        height:  60px;
        margin: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-image: linear-gradient(rgb(57, 18, 94),rgba(0, 0, 0, 0.226));
    }
    .navbar input[type="checkbox"]:checked ~ .nav{
        right: 0px;
    }
    .navbar input[type="checkbox"]:checked ~.headerlogo .hamburgur{
        display: none;
    }
    .navbar input[type="checkbox"]:checked ~.headerlogo .right-arrow{
        display: block;
    }


    .s1{
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    }
    .s1 p{
        padding: 0px;
        font-size: 16px;
        margin: 40px 10px 10px;
        text-align: center;
    }
    .s1 h1{
        padding: 0px;
        font-size: 35px;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center  ;
    }

    .s2 {
        min-height: 260px;
        margin-bottom: 0px;
        padding: 0px;
    }
    .s2 img {
        width: 300px;
    }

    .arrow img{
        margin: 20px;
        width: 30px;
        top: 0;
    }

   
    .s1 a button{
    margin: 20px;
    }
} 











/* tablet view  */

@media screen and (min-width: 700px) and (max-width: 1000px)
{
    .main{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        
    }

    .checkbox{
        position: absolute;
        opacity: 100;
        right: 27px;
        display: block;
        width: 25px;
        height: 25px;
        z-index: 10;
        top: 18px;
        opacity: 0;
        visibility: visible;
    }
 
    .s1{
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    }
    .s1 p{
        padding: 0px;
        font-size: 10px;
        margin: 40px 10px 10px;
    }
    .s1 h1{
        padding: 0px;
        font-size: 40px;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center  ;
    }

    .s2 {
        min-height: 260px;
        margin-bottom: 0px;
        padding: 60px;
    }
    .s2 img {
        width: 400px;
    }

    .arrow img{
        margin: 20px;
        width: 30px;
        top: -70px;
    }

   
    .s1 a button{
    margin: 20px;
    }
} 







