*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;   
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    width: 100%;
}
nav{
    width: 100%;
    padding: 20px;
    background: rgba(174, 0, 255, 0.417) ;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    backdrop-filter: blur(8px);
    position: absolute;
    z-index: 1;
    
}
.logo{
    filter: invert(1);
    width: 30px;
    height: 30px;
}
nav h1{
    color: white;
    font-size: 24px;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
}
.menubtn{
    position: absolute;
    z-index: 20;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    filter: invert(1);
    transition: 0.3s;
    rotate: 45deg;
    scale: 0.7;
}
.menubtnbox{
    position: absolute;
    z-index: 21;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    opacity: 0;
}

.menubtnbox:checked ~ .menubar{
    right: 0;
    visibility: visible;
}
.menubtnbox:checked ~ .menubtn{
    rotate: 0deg;
    scale: 1.1;
}

.menubar{
    visibility: hidden;
    position: absolute;
    z-index: 10;
    background: blueviolet ;
    backdrop-filter: blur(8px);
    list-style: none;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 100px 60px 30px;
    width: 30%;
    transition: 0.3s;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;   
    position: relative;
    z-index: 22;
    display: flex;
    align-items: center;
    margin: 15px 12px;
}
nav ul li a::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color:white;
    display: block;
    position: absolute;
    z-index: 21;
    left: 0;
    margin-left: -15px;
    transition: 0.2s;
    border-radius: 10px;
} 
nav ul li a:hover::before{
    width: 100%;
    height: 100%;
    mix-blend-mode: difference;
    background-color: #FC4100;
}
.active::before{
    width: 100%;
    height: 100%;
    mix-blend-mode: difference;
    background-color: #FC4100;
}

.home{
    width: 100%;
    background: url(https://ik.imagekit.io/tovuwazhze/homepage%20assets/6503253.jpg?updatedAt=1721578832454);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    align-items: flex-start;
    flex-direction:column;
    color: white;
    padding: 200px 40px 120px;
}

.homegif{
    width: 400px;
    position: absolute;
    top:140px;
    right: 160px;
    mix-blend-mode: screen;
    opacity: 70%;
}
.home h2{
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    padding-left:10px ;
}
.home p{
    padding-left: 20px;
    /* text-align: center; */
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.btns{
    display: flex;
    margin: 40px 25px;
}
.btns a{
    color: #FC4100;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    background-color: white;
    padding: 14px 55px;
    font-size: 18px;
    border-radius: 50px;
    /* border: 2px solid white; */
    transition: 0.3s;
}
.btns a:hover{
    background-color: #FF7D29;
    color: white;
    scale: 1.1;
    filter: drop-shadow(0px 0px 5px rgb(255, 123, 0));
}




.d1{
    width: 100%;
    background-color: #191919;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    padding: 40px;
}
.d1 h3{
    color: blueviolet;
    font-size: 80px;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    margin: 50px 10px 0px;
    text-align: center;
}
.d1 p{
    color: #FFE8C8;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    margin: 10px 10px 80px;
    
}
.infocards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.infocard{
    width: 350px;
    min-height: 420px;
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 12px 10px;
    border-radius: 10px;
    
}
.infocard img{
    margin-bottom: 10px;
    /* opacity: 50%; */
    width: 200px;

}
.infocard h4{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}
.infocard p{
    font-size: 18px;
    color: #191919;
    margin: 10px;
}
.infocard a{
    color: white;
    background-color: blueviolet;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    text-align: center;
    transition: 0.2s;
}
.infocard a:hover{
    background-color: #FC4100;
}

.services{
    width: 100%;
    height: auto;
    padding: 40px 50px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    background-color: rgb(220, 205, 233);
}
.services h2{
    font-size: 60px;
    color: #191919;
    width: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-top: 40px;
}
.card{
    width: 350px;
    height: auto;
    background-color: rgb(31, 31, 31);
    margin: 30px 10px;
    border-radius: 15px;
    transition: 0.2s;
    padding: 20px;
    border: 1px solid transparent;
    
}
.card:hover{
    /* filter: drop-shadow(4px 4px 2px #FF7D29); */
    border-color: #FC4100 ;
    background-color: #000000;
}

.card a{
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card h4{
    margin: 15px 0px 5px;
    font-size: 20px;
    color:blueviolet;
}
.card p{
    color:rgb(168, 168, 168);
    height: 50px;
}
.card button{
    border: 0;
    outline: 0;
    background-color: white;
    color: #191919;
    padding: 6px 25px;
    border-radius: 20px;
    margin: 20px 0 0;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.card button:hover{
    background-color: #FC4100;
    color: white;
}
.showmorebtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 50px;
    text-decoration: none;

}
.showmorebtn button{
    font-family: "Poppins", sans-serif;
    border: 0;
    outline: 0;
    background-color:#FF7D29;
    font-size: 25px;
    padding: 12px 15px;
    font-weight: bold;
    border-radius: 20px;
    color: black;
    transition: 0.2s;
    width: 50%;
    margin: 20px;
}
.showmorebtn button:hover{
    background-color: #FC4100;
}
.socialmedia{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 80px 40px;
    align-items: center;
    justify-content: center;
}

.socialmedia img{
    width: 300px;
    margin: 10px 100px 10px 150px;
}
.socialmedia section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 60px;
}
.socialmedia section h4{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: blueviolet;
}
.socialmedia section p{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #191919;
}
.socialicons{
    display: flex;
    margin:20px 0px;
}
.socialmedia section a{
    margin:15px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: blueviolet;
}
.socialmedia section a:hover{
    background-color: #FC4100;
}
.socialmedia section a svg{
    scale: 1.4;
    filter: invert(1);
}

footer{
    
    background-color: #191919;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flogo, .implink{
    display: flex;
    align-items: center;
    color: white;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.flogo img{
    filter: invert(1);
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.implink a{
    color: white;
    text-decoration: none;
}
.implink a img{
    width: 30px;
    height: 30px;
    filter: invert(1);
    margin-left: 10px;
}







@media screen and (max-width:800px) {

    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
    }
    .homegif{
        position: relative;
        top: -50px;
        right: 0;
        width: 200px;
    }
    .home h2{
        font-size: 42px;
    }
    .home p {
        padding: 0;
        font-size: 18px;
        text-align: center;
    }
    .btns a {
        margin-top: 20px;
        font-size:20px ;
        padding: 12px 45px;
    }
    .d1 h3{
        font-size: 50px;
    }
    .d1 p{
        font-size: 20px;
    }
    .showmorebtn button {
        font-size: 15px;
        width: 90%;
    }
    .socialmedia img{
        width: 200px;
    }
    .socialmedia{
        flex-wrap: wrap;
    }
    .socialmedia img{
        margin: 25px;
    }
    .socialmedia section{
        display: flex;
        align-items: center;
    }
    .menubar{
        width: 100%;
        right: 0;
        /* top: -100%; */
        opacity: 0%;
        visibility: hidden;
    }
    .menubtnbox:checked ~ .menubar{
        right: 0;
        top: 0;
        visibility: visible;
        opacity: 100%;
    }
}

@media screen and (max-width:450px){
    nav h1{
        font-size: 20px;
    }
    .homegif {
        top: -30px;
        width: 150px;
    }
    .home h2 {
        font-size: 25px;
    }
    .home p{
        font-size: 10px;
    }
    .home {
        padding: 140px 40px 20px;
    }
    .btns a{
        font-size: 15px;
    }
    .d1{
        padding: 15px;
    }
    .d1 h3{
        font-size: 30px;
    }
    .d1 p{
        font-size: 12px;
        margin-bottom: 40px;
    } 
    .infocard img {
        width: 150px;
    }
    .infocard h4 {
        font-size: 25px;
    }
    .services {
        padding:40px 20px 20px ;
    }
    .services h2 {
        margin-top: 35px;
        font-size: 50px;
    }
    .showmorebtn button {
        width: 90%;
        font-size: 12px;
    }
    .showmorebtn {
        margin-top: 0;
    }
    .socialmedia section a svg{
        scale: 1.1;
    }
    .socialmedia section a{
        margin: 10px;
        padding: 12px;
    }
    .socialicons {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .socialmedia {
        padding: 50px 20px;
    }
    .socialmedia section{
        margin: 0 20px;
        
    }
    .socialmedia section h4 {
        font-size: 20px;
    }
    .socialmedia section p{
        font-size: 12px;
    } 
    .socialmedia img {
        width: 150px;
    }
    
}
